extends ./layout/index

block slider
    .slider
        h1 Rio de Janiero
        em Aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at orci nec mi maximus luctus eget a eros. Aliquam eleifend nisi sem, vel porttitor magna vulputate at. Aliquam ultricies, turpis a semper pulvinar, ante tellus vehicula tellus, sit amet ornare tellus lorem vel ipsum.
                p Aenean sit amet bibendum mi, vel blandit nisl. Etiam tortor lacus, fringilla ut malesuada id, posuere ultrices libero. Phasellus auctor est eu accumsan sodales. Aliquam ultricies, turpis a semper pulvinar, ante tellus vehicula tellus, sit amet ornare tellus lorem vel ipsum
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo 2022
                        p.precio $2.500 USD 

    .container 
        h2.mt-5.text-center Testimoniales

        include ./layout/bloque_testimoniales